.filter {
    margin: 0 0 10px;
}

.header {
    float: left;
    margin: 10px 0;
}

.keyword {
    margin: 0;
    float: left;
    clear: both;
}

.inStock {
    margin: 15px 0;
    float: left;
    clear: both;
}