.product {
    margin: 0;
    padding: 0;
    overflow: hidden;
    clear: both;
    color: #000;
    li {
        float: left;
        list-style: none;
        text-align: left;
        padding: 2px 0;
        &.highlight {
            color: red;
        }
    }
    .name {
        width: 35%;
    }
    .price {
        width: 35%;
    }
    .detail {
        width: 30%;
    }
}

.category {
    float: left;
}